body{
  font-family: arial;
  background-color: rgb(19, 19, 19);
}

.box{
  background-color: rgb(25, 25, 25);
  width: 32em;
  height: 32em;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time{
  display: grid;
  grid-template-columns: 75px 90px 75px 30px;
  column-gap: 30px;
  margin-bottom: 70px;
}

.actions{
  display: flex;
  grid-template-columns: 40px 40px 40px;
  column-gap: 50px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}

.reset,
.stop,
.start{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.seconds,
.mins,
.hours{
  font-size: 50px;
  color: white;
}
.ms{
  color: white;
  font-size: 20px;
}
.hours{
  margin-left: 20px;
}




